body {
  background-image: url("bg.wepd");
  background-size: cover;       /* Remplit tout l'écran */
  background-position: center;  /* Centre l'image */
  background-repeat: no-repeat; /* Évite la répétition */
  min-height: 100vh;
   
}

#img {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;


}